name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unit:
    name: PHPUnit unit tests - PHP ${{ matrix.php }} symfony/${{ matrix.symfony }} phpunit/${{ matrix.phpunit }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php: ['8.4']
        symfony: ['^6', '^7', '^8']
        phpunit: ['^10', '^11', '^12']
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup php
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: zip

      - name: Install Composer dependencies
        run: |
          sed -i 's/"\^6 || \^7 || \^8"/\"${{ matrix.symfony }}"/g' composer.json
          sed -i 's/"\^10 || \^11 || \^12"/\"${{ matrix.phpunit }}"/g' composer.json
          composer install --no-progress --prefer-dist --optimize-autoloader

      - name: Run PHPUnit unit tests
        run: composer test
